body {
	background-image: url("http://www.torange.us/photo/31/16/frame-angle-from-coffee-beans-1404509673_61.jpg");
	background-size: cover;
	margin:0 auto;

}


.top_bar {
	background-color:black;
	height:75px;
	width:fixed;
	border:2px yellow groove;

}

.coffee_items {
	list-style-type: none;
	margin-bottom:0;
	margin-top:0;

}

p {
  font-family: helvetica, sans-serif;
  text-align: center;
  background-color:rgba(0,0,0,0.1); 
  color:#000019;
}


.li_one {
	float:left;
	color:white;
	text-align:center;
	margin-top:25px;
	font-size: 40px;
	margin-left: 100px;
	text-decoration: underline;
}

.main_one {
	margin-left:300px;
	height:200px;
	width:600px;
	background:url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Qi_Lan_Oolong_tea_leaf.jpg");
	background-size: cover;
	position:relative;
	margin-top: 25px;
	border-radius:15px;
	border:2px dotted black;

	
}

.main_two {
	margin-left:300px;
	height:200px;
	width:600px;
	margin-top:15px;
	background:url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Assam-Tee_SFTGFOP1.jpg");
	background-size: cover;
	position:relative;
	border-radius:15px;
	border:2px dotted black;
}

#facebook {
	margin-top:10px;
	margin-left:500px;
	height:60px;
	width:60px;
}

.bottom_bar {
	background-color:#000000;
	border:3px solid yellow;
	bottom:0;
	position:fixed;
	width:99.6%;
}

#twitter {
	height:60px;
	width:60px;

}

#instagram {
	height:60px;
	width:60px;
}

#myButton {
	margin-left:250px;
}

